@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --foreground: #e2e2ee;
    --bg-background: #09090e;
}
body{
    color: var(--foreground);
    background-color: var(--bg-background);
}